{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/custom_admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
<div id="content-main">
    {% if app_list %}
        <div class="dashboard-grid">
            {% for app in app_list %}
                {% for model in app.models %}
                    <a class="model-button" href="{{ model.admin_url }}">
                        <i class="fas fa-cube"></i>
                        <span>{{ model.name }}</span>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}